<h1><%= @hotel.name %></h1>

<dl>
  <dt>Image: </dt>
  <dd><%= image_tag @hotel.image %></dd>
  <dt>Address: </dt>
  <dd><%= @hotel.address %></dd>
  <dt>description: </dt>
  <dd><%= @hotel.description %></dd>
  <dt>Hotel size: </dt>
  <dd><%= @hotel.number_rooms %></dd>
</dl>
<% if !current_user.nil? && @hotel.user == current_user %>
  <%= link_to "Edit", edit_hotel_path(@hotel) %> |
  <%= link_to "Delete", @hotel, method: :delete %>
<% end %>
<br />&nbsp;
<h3><%= @hotel.reviews.count %> Reviews:</h3>
<hr />
<div id="review">
  <div class="row">
  <% @hotel.reviews.each do |review| %>
    <%= render partial: "review", object: review %>
  <% end %>
  </div>
</div>

<hr />

<% if current_user %>
  <h2>New Review</h2>
  <div class="new-review">
    <%= render "reviews/form" %>
  </div>
  <% else %>
    <p>Sign in to create a review</p>
<% end %>

<hr />
<%= link_to "Back", hotels_path %>
