<h1><%= @hotel.name %></h1>

<dl>
  <dt>Image: </dt>
  <dd><%= image_tag @hotel.image %></dd>
  <dt>Address: </dt>
  <dd><%= @hotel.address %></dd>
  <dt>description: </dt>
  <dd><%= @hotel.description %></dd>
  <dt>Hotel size: </dt>
  <dd><%= @hotel.number_rooms %></dd>
</dl>

<% if !current_user.nil? && @hotel.user == current_user %>
  <%= link_to "Edit", edit_hotel_path(@hotel) %>
<% end %>
<%= link_to "Back", hotels_path %>
