<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Hotel Reviews" %></title>

    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation">
        <Ul class="title-area">
          <li class="name">
            <h1><%= link_to "Hotel Reviews", hotels_path %></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <% if current_user %>
              <li><%= link_to 'Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
            <li class="has-form">
              <div class="row collapse">
                <%= form_tag(search_hotels_path, method: :get) do %>
                  <div class="large-8 small-9 columns">
                    <%= text_field_tag 'query', params[:query], placeholder: 'Search for hotels...' %>
                  </div>
                  <div class="large-4 small-3 columns">
                    <%= submit_tag 'Search', class: 'button expand' %>
                  </div>
                <% end %>
              </div>
          </li>
          </ul>
          <ul class="left">
            <% if user_signed_in? && current_user.admin? %>
              <li class="has-dropdown">
                <a href="#">Admin Section</a>
                <ul class="dropdown">
                  <li><%= link_to 'Users', admin_users_path %></li>
                </ul>
              </li>
            <% end %>
          </ul>
      </nav>
    </div>
    <% flash.each do |type, message| %>
      <div data-alert class="alert-box <%= type %>">
        <%= message %>
        <%= link_to "x", "#", class: :close %>
      </div>
    <% end %>
    <div class="row">
      <div class="small-12 columns">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
